/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
@import url("./navbar.css");
/* Feel free to add as many of these imports as you need */

body {
  color: #fff;
  background-color: var(--color-bg-primary);
}

.hero {
  padding-top: 100px;
}


.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.border {
  border: 1px;
  border-style: solid;
  border-radius: 6px;
  border-color: black;
}

.border-white {
  border: 1px;
  border-style: solid;
  border-radius: 6px;
  border-color: #fff;
}