/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
@import url("./navbar.css");
@import url("./hero.css");
@import url("./deals.css");
@import url("./footer.css");
@import url("./menu.css");
/* Feel free to add as many of these imports as you need */

@font-face {
  font-family: "motiva-sans";
  src: url("/fonts/MotivaSansBlack.woff") format("woff"),
    url("/fonts/MotivaSansBold.woff") format("woff"),
    url("/fonts/MotivaSansExtraBold.woff") format("woff"),
    url("/fonts/MotivaSansMedium.woff") format("woff"),
    url("/fonts/MotivaSansRegular.woff") format("woff"),
    url("/fonts/MotivaSansLight.woff") format("woff");
}

body {
  font-family: "motiva-sans", sans-serif;
  color: #fff;
  background-color: var(--color-bg-primary);
}

.menu {
  background-color: var(--color-primary);
}

a {
  font-family: "motiva-sans", sans-serif;
}



/* TOOLS */

.border {
  border: 1px;
  border-style: solid;
  border-radius: 6px;
  border-color: black;
}

.border-white {
  border: 1px;
  border-style: solid;
  border-radius: 6px;
  border-color: #fff;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.separator {
  border-bottom: solid 1px #1B212C;
  width: screen;
}

@media only screen and (min-width: 811px) {
  .container {
    width: 100%;
    padding: 0 135px;
  }
}
@media only screen and (max-width: 810px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}
