/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
@import url("./navbar.css");
/* Feel free to add as many of these imports as you need */

@font-face {
  font-family: 'motiva-sans';
  src: url("/fonts/MotivaSansBlack.woff") format("woff"),
       url("/fonts/MotivaSansBold.woff") format("woff"),
       url("/fonts/MotivaSansExtraBold.woff") format("woff"),
       url("/fonts/MotivaSansMedium.woff") format("woff"),
       url("/fonts/MotivaSansRegular.woff") format("woff"),
       url("/fonts/MotivaSansLight.woff") format("woff");
}

body {
  font-family: 'motiva-sans', sans-serif;
  color: #fff;
  background-color: var(--color-bg-primary);
}

a {
  font-family: 'motiva-sans', sans-serif;
}

/* TOOLS */

.border {
  border: 1px;
  border-style: solid;
  border-radius: 6px;
  border-color: black;
}

.border-white {
  border: 1px;
  border-style: solid;
  border-radius: 6px;
  border-color: #fff;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}


/* HERO */

.hero {
  position: relative;
  padding-top: 6.25rem;
  max-width: 100vw;
}

.hero-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.hero-content {
  position: absolute;
  inset: 0;
  padding: 1rem;
  display: flex;
  align-items: end;
  justify-content: center;
}

.cta-container {
  height: 16%;
  display: flex;
  justify-content: center;
  align-items: start;
}
/* FIX RESPONSE BUTTON */
.cta-button {
width: 18.75rem;
height: 63px;
color: white;
background: #A00000;
border: 1px solid #000000;
box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
border-radius: 10px;

font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 33px;

flex-grow: 0;

}

.container {
  width: 100vw;
  margin: 0 135px;
}

